header {
	flex: 0 1 auto;
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2);
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

#mapid {
	flex: 1 1 auto;
	background-color: black;
}

.navbar {
	font-family: Arial, Helvetica, sans-serif;
	padding: 20px;
	display: flex;
	flex-flow: row nowrap;
}

.navbar a {
	font-size: 16px;
	color: #090;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	background-color: #FFFFFF;
}

.nav-right {
	flex-grow: 1;
	display: flex;
	justify-content: flex-end;
}

.dropdown .dropbtn {
    font-size: 16px;    
    border: none;
    outline: none;
    color: #090;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
	background-color: #090;
	color: #FFFFFF;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1024;
}

.dropdown-content a {
	float: none;
	color: #090;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.dropdown-content a:hover {
	background-color: #090;
	color: #FFFFFF;}

.dropdown:hover .dropdown-content {
    display: block;
}
