@font-face {
    font-family: "Heebo-black";
    src: url("../fonts/Heebo/Heebo-Black.ttf");
}
@font-face {
    font-family: "Heebo-bold";
    src: url("../fonts/Heebo/Heebo-Bold.ttf");
}
@font-face {
    font-family: "Heebo-ExtraBold";
    src: url("../fonts/Heebo/Heebo-ExtraBold.ttf");
}
@font-face {
    font-family: "Heebo-Light";
    src: url("../fonts/Heebo/Heebo-Light.ttf");
}
@font-face {
    font-family: "Heebo-Medium";
    src: url("../fonts/Heebo/Heebo-Medium.ttf");
}
@font-face {
    font-family: "Heebo";
    src: url("../fonts/Heebo/Heebo-Regular.ttf");
}
@font-face {
    font-family: "Heebo-Thin";
    src: url("../fonts/Heebo/Heebo-Thin.ttf");
}

.mapfit-bottom.mapfit-left.mapfit-active .mapfit-logo {
    position: relative;
    left: 360px;
}

.mapfit-bottom.mapfit-left .mapfit-logo.mapfit-mobileActive {
    left: 0px;
    z-index: 400;
}

.mapfit-recenterIcon {
    width: 33px;
    height: 32px;
}

.mapfit-recenterIcon.mapfit-mobileActive {
    bottom: 72px;
    z-index: 400;
}

.mapfit-bottom .mapfit-control-zoom {
    order: 2;
    z-index: 400;
}

.mapfit-control-zoom.mapfit-mobileActive {
    bottom: 70px;
    /* z-index: 400; */
}

.mapfit-bottom.mapfit-left .mapfit-logo {
    position: relative;
    left: 0px;
}

.mapfit-pane,
.mapfit-tile,.mapfit-marker-icon,.mapfit-marker-shadow,.mapfit-tile-container,.mapfit-pane>svg,.mapfit-pane>canvas,.mapfit-zoom-box,.mapfit-image-layer,.mapfit-layer {
	position: absolute;
	left: 0;
	top: 0
} /* in relative container */

.mapfit-popup {
    bottom: 11px;
}
.mapfit-container {
	overflow: hidden
}
.mapfit-tile, .mapfit-marker-icon, .mapfit-marker-shadow {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
	-webkit-user-drag: none;
}
.mapfit-safari .mapfit-tile {
	image-rendering: -webkit-optimize-contrast
}
.mapfit-safari .mapfit-tile-container {
	width: 1600px;
	height: 1600px;
	-webkit-transform-origin: 0 0;
}
.mapfit-marker-icon,.mapfit-marker-shadow {
	display: block;
}
.mapfit-container .mapfit-overlay-pane svg,.mapfit-container .mapfit-marker-pane img,.mapfit-container .mapfit-shadow-pane img,.mapfit-container .mapfit-tile-pane img,.mapfit-container img.mapfit-image-layer {
	max-width: none;
}

.mapfit-container.mapfit-touch-zoom {
	-ms-touch-action: pan-x pan-y;
	touch-action: pan-x pan-y
}
.mapfit-container.mapfit-touch-drag {
	-ms-touch-action: pinch-zoom
}
.mapfit-container.mapfit-touch-drag.mapfit-touch-drag {
	-ms-touch-action: none;
	touch-action: none
}
.mapfit-tile {
	filter: inherit;
	visibility: hidden
}
.mapfit-tile-loaded {
	visibility: inherit
}
.mapfit-zoom-box {
	width: 0;
	height: 0;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 800
}
.mapfit-overlay-pane svg {
	-moz-user-select: none
}
.mapfit-pane {
	z-index: 400
}
.mapfit-tile-pane {
	z-index: 200
}
.mapfit-overlay-pane {
	z-index: 400
}
.mapfit-shadow-pane {
	z-index: 500
}
.mapfit-marker-pane {
	z-index: 600
}
.mapfit-marker-pane:focus {
    outline: none;
}
.mapfit-marker-pane img:focus {
    outline: none;
}
.mapfit-tooltip-pane {
	z-index: 650
}
.mapfit-popup-pane {
	z-index: 700
}
.mapfit-map-pane canvas {
	z-index: 100
}
.mapfit-map-pane svg {
	z-index: 200
}
.mapfit-vml-shape {
	width: 1px;
	height: 1px
}
/* .lvml {
	behavior: url(#default#VML);
	display: inline-block;
	position: absolute
} */
.mapfit-control {
	position: relative;
	z-index: 800;
	pointer-events: visiblePainted;
	pointer-events: auto
}
.mapfit-logo .mapfit-watermarkImg {
    /* box-shadow: 0 4px 12px 0 rgba(19, 40, 54, 0.2); */
    background-color: transparent;
    border-radius: 4px;
}
.mapfit-logo .mapfit-watermarkImg:hover {
    cursor: pointer;
}
@-webkit-keyframes moveup {
    0%   { bottom: 0; }
    100% { bottom: 30px; }
}
@-moz-keyframes moveup {
    0%   { bottom: 0; }
    100% { bottom: 30px; }
}
@-o-keyframes moveup {
    0%   { bottom: 0; }
    100% { bottom: 30px; }
}
@keyframes moveup {
    0%   { bottom: 0; }
    100% { bottom: 30px; }
}

@-webkit-keyframes movedown {
    0%   { bottom: 30px; }
    100% { bottom: 0px; }
}
@-moz-keyframes movedown {
    0%   { bottom: 30px; }
    100% { bottom: 0px; }
}
@-o-keyframes movedown {
    0%   { bottom: 30px; }
    100% { bottom: 0px; }
}
@keyframes movedown {
    0%   { bottom: 30px; }
    100% { bottom: 0px; }
}
.mapfit-logo.mapfit-animate {
    -webkit-animation: moveup 1s forwards;
    -moz-animation:    moveup 1s forwards;
    -o-animation:      moveup 1s forwards; 
    animation:         moveup 1s forwards;
}
.mapfit-logo.mapfit-animateOut {
    -webkit-animation: movedown 1s forwards;
    -moz-animation:    movedown 1s forwards;
    -o-animation:      movedown 1s forwards;
    animation:         movedown 1s forwards;
}

/* mobile animations */
@-webkit-keyframes moveupMobile {
    0%   { bottom: 70px; }
    100% { bottom: 100px; }
  }
  @-moz-keyframes moveupMobile {
    0%   { bottom: 70px; }
    100% { bottom: 100px; }
  }
  @-o-keyframes moveupMobile {
    0%   { bottom: 70px; }
    100% { bottom: 100px; }
  }
  @keyframes moveupMobile {
    0%   { bottom: 70px; }
    100% { bottom: 100px; }
  }

  @-webkit-keyframes movedownMobile {
    0%   { bottom: 100px; }
    100% { bottom: 70px; }
  }
  @-moz-keyframes movedownMobile {
    0%   { bottom: 100px; }
    100% { bottom: 70px; }
  }
  @-o-keyframes movedownMobile {
    0%   { bottom: 100px; }
    100% { bottom: 70px; }
  }
  @keyframes movedownMobile {
    0%   { bottom: 100px; }
    100% { bottom: 70px; }
  }
.mapfit-logo.mapfit-animateMobile.mapfit-mobileDirectionsOn {
    -webkit-animation: moveupMobile 1s forwards;
    -moz-animation:    moveupMobile 1s forwards;
    -o-animation:      moveupMobile 1s forwards;
    animation:         moveupMobile 1s forwards;
}
.mapfit-logo.mapfit-animateOutMobile.mapfit-mobileDirectionsOn {
    -webkit-animation: movedownMobile 1s forwards;
    -moz-animation:    movedownMobile 1s forwards;
    -o-animation:      movedownMobile 1s forwards;
    animation:         movedownMobile 1s forwards;
}

.mapfit-logo.mapfit-mobileDirectionsOn {
    bottom: 70px;
}

/* end of mobile animations */

/* animate logo for mobile but the directions are off */
.mapfit-logo.mapfit-animateMobile {
    -webkit-animation: moveup 1s forwards;
    -moz-animation:    moveup 1s forwards;
    -o-animation:      moveup 1s forwards;
    animation:         moveup 1s forwards;
}
.mapfit-logo.mapfit-animateOutMobile {
    -webkit-animation: movedown 1s forwards;
    -moz-animation:    movedown 1s forwards;
    -o-animation:      movedown 1s forwards;
    animation:         movedown 1s forwards;
}

/* end of the second set of mobile logo animation */

.mapfit-top, .mapfit-bottom {
	position: absolute;
	pointer-events: none
}
.mapfit-left {
    width: 35%;
}
.mapfit-top {
    top: 0;
    width: 30%;
    height: 500px;
}
.mapfit-right {
	right: 0
}
.mapfit-bottom {
	bottom: 0;
}
.mapfit-bottom.mapfit-right {
    display: flex;
    flex-direction: column;
}
.mapfit-bottom.mapfit-right .mapfit-recenterIcon {
    order: 1;
    box-shadow: 0px 4px 12px 0px rgba(19, 40, 54, 0.2), inset 0 -1px 1px 0 rgba(63, 82, 109, 0.12)
}
/* .mapfit-bottom.mapfit-right .mapfit-control {
    order: 2;
} */
.mapfit-left {
    left: 0;
}
.mapfit-control {
	float: left;
	clear: both;
}
.mapfit-right .mapfit-control {
	float: right;
}
.mapfit-top .mapfit-control {
	margin-top: 10px;
}
.mapfit-bottom .mapfit-control {
	margin-bottom: 10px;
}
.mapfit-left .mapfit-control {
	margin-left: 10px;
}
.mapfit-right .mapfit-control {
	margin-right: 10px;
}
.mapfit-fade-anim .mapfit-tile {
	will-change: opacity;
}
.mapfit-fade-anim .mapfit-popup {
	opacity: 0;
	-webkit-transition: opacity 0.2s linear;
	-moz-transition: opacity 0.2s linear;
	-o-transition: opacity 0.2s linear;
	transition: opacity 0.2s linear;
}
.mapfit-fade-anim .mapfit-map-pane .mapfit-popup {
	opacity: 1;
}
.mapfit-zoom-animated {
	-webkit-transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	transform-origin: 0 0;
}
.mapfit-zoom-anim .mapfit-zoom-animated {
	will-change: transform;
}
.mapfit-zoom-anim .mapfit-zoom-animated {
	-webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
	-moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
	-o-transition: -o-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
	transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1);
}
.mapfit-zoom-anim .mapfit-tile,.mapfit-pan-anim .mapfit-tile {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}
.mapfit-zoom-anim .mapfit-zoom-hide {
	visibility: hidden;
}
.mapfit-interactive {
	cursor: pointer;
}
.mapfit-grab {
	cursor: -webkit-grab;
	cursor: -moz-grab;
}
.mapfit-crosshair,.mapfit-crosshair .mapfit-interactive {
	cursor: crosshair;
}
.mapfit-popup-pane,.mapfit-control {
	cursor: auto;
}
.mapfit-dragging .mapfit-grab,.mapfit-dragging .mapfit-grab .mapfit-interactive,.mapfit-dragging .mapfit-marker-draggable {
	cursor: move;
	cursor: -webkit-grabbing;
	cursor: -moz-grabbing;
}
.mapfit-marker-icon,.mapfit-marker-shadow,.mapfit-image-layer,.mapfit-pane>svg path,.mapfit-tile-container {
	pointer-events: none;
}
.mapfit-marker-icon.mapfit-interactive,.mapfit-image-layer.mapfit-interactive,.mapfit-pane>svg path.mapfit-interactive {
	pointer-events: visiblePainted;
	pointer-events: auto;
}
.mapfit-container {
	background: #ddd;
	outline: 0;
}
/* .mapfit-container a {
	color: #0078A8
} */
.mapfit-container a.mapfit-active {
	outline: 2px solid orange;
}
.mapfit-zoom-box {
	border: 2px dotted #38f;
	background: rgba(255,255,255,0.5);
}
.mapfit-container {
	font: 12px/1.5 "Helvetica Neue", Arial, Helvetica, sans-serif;
}
.mapfit-bar {
    box-shadow: 0 1px 5px rgba(0,0,0,0.65);
	border-radius: 4px;
}
.mapfit-bar a,.mapfit-bar a:hover {
	background-color: #fff;
	width: 34px;
	height: 34px;
	line-height: 26px;
	display: block;
	text-align: center;
	text-decoration: none;
	color: black;
}
.mapfit-control-zoom-in:before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 50%;
    height: 1px;
    width: 66%;
    border-bottom: 1px solid rgba(216, 230, 239, 100);
    left: 5px;
}
.mapfit-control-custom:hover, .mapfit-control-zoom:hover {
    cursor: pointer;
}
.mapfit-bar a,.mapfit-control-layers-toggle {
	background-position: 50% 50%;
	background-repeat: no-repeat;
	display: block;
}
.mapfit-bar a:hover {
	background-color: #f4f4f4;
}
.mapfit-bar a:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.mapfit-bar a:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-bottom: none
};
.mapfit-bar a.mapfit-disabled {
	cursor: default;
	background-color: #f4f4f4;
	color: #bbb;
}
.mapfit-touch .mapfit-bar a {
	width: 32px;
	height: 28px;
    line-height: 22px;
    display: flex;
    justify-content: center; 
    align-items: center;
}
.mapfit-control-zoom-in,.mapfit-control-zoom-out {
	font: bold 18px 'Lucida Console', Monaco, monospace;
	text-indent: 1px;
}
.mapfit-control-zoom-out {
	font-size: 20px;
}
.mapfit-touch .mapfit-control-zoom-in {
	font-size: 22px;
}
.mapfit-touch .mapfit-control-zoom-out {
	font-size: 24px;
}
.mapfit-control-layers {
	box-shadow: 0 1px 5px rgba(0,0,0,0.4);
	background: #fff;
	border-radius: 5px;
}
.mapfit-control-layers-toggle {
	background-image: url(images/layers.png);
	width: 36px;
	height: 36px;
}
.mapfit-retina .mapfit-control-layers-toggle {
	background-image: url(images/layers-2x.png);
	background-size: 26px 26px;
}
.mapfit-touch .mapfit-control-layers-toggle {
	width: 44px;
	height: 44px;
}
.mapfit-control-layers-expanded .mapfit-control-layers-list {
	display: block;
	position: relative;
}
.mapfit-control-layers-expanded {
	padding: 6px 10px 6px 6px;
	color: #333;
	background: #fff;
}
.mapfit-control-layers-scrollbar {
	overflow-y: scroll;
	padding-right: 5px;
}
.mapfit-control-layers-selector {
	margin-top: 2px;
	position: relative;
	top: 1px;
}
.mapfit-control-layers label {
	display: block;
}
.mapfit-control-layers-separator {
	height: 0;
	border-top: 1px solid #ddd;
	margin: 5px -10px 5px -6px;
}
.mapfit-default-icon-path {
	background-image: url(images/marker-icon.png);
}
.mapfit-container .mapfit-control-attribution {
	background: #fff;
	background: rgba(255,255,255,0.7);
	margin: 0;
}
.mapfit-control-attribution,.mapfit-control-scale-line {
	padding: 0 5px;
	color: #333;
}
.mapfit-control-attribution a {
	text-decoration: none;
}
.mapfit-control-attribution a:hover {
	text-decoration: underline;
}
.mapfit-container .mapfit-control-attribution,.mapfit-container .mapfit-control-scale {
	font-size: 11px;
}
.mapfit-left .mapfit-control-scale {
	margin-left: 5px;
}
.mapfit-bottom .mapfit-control-scale {
	margin-bottom: 5px;
}
.mapfit-control-scale-line {
	border: 2px solid #777;
	border-top: none;
	line-height: 1.1;
	padding: 2px 5px 1px;
	font-size: 11px;
	white-space: nowrap;
	overflow: hidden;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	background: rgba(255,255,255,0.5);
}
.mapfit-control-scale-line:not(:first-child) {
	border-top: 2px solid #777;
	border-bottom: none;
	margin-top: -2px;
}
.mapfit-control-scale-line:not(:first-child):not(:last-child) {
	border-bottom: 2px solid #777;
}
.mapfit-touch .mapfit-control-attribution,.mapfit-touch .mapfit-control-layers,.mapfit-touch .mapfit-bar {
	box-shadow: none;
}
.mapfit-touch .mapfit-control-layers,.mapfit-touch .mapfit-bar {
	box-shadow: 0px 4px 12px 0px rgba(19, 40, 54, 0.2), inset 0 -1px 1px 0 rgba(63, 82, 109, 0.12);
	background-clip: padding-box;
}
.mapfit-popup {
	position: absolute;
	text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 6px 18px 0 rgba(19, 40, 54, 0.1), inset 0 -1px 3px 0 rgba(63, 82, 109, 0.12);
}
.mapfit-popup-content-wrapper {
	padding: 1px;
	text-align: left;
    border-radius: 6px;
    width: 176px;
	height: auto;
}
.mapfit-popUpContent::after {
    width: 42px; 
    height: 30px; 
    position: absolute;
    left: 39%;
    bottom: -29px;
    content: " ";
    background-image: url(../images/corner_01.png); /* no directions button */ 
    background-repeat: no-repeat;
}
.mapfit-popUpContent.mapfit-directions-btn-on::after {
    background-image: url(../images/corner_03.png); 
}
.mapfit-popup-content-wrapper.mapfit-active-arrow::after {
    background-image: url(../images/corner_02.png); /* for directions button */ 
}
.mapfit-popup-content {
	margin: 13px 19px;
    line-height: 1.4;
    margin: 0px;
}

/* .mapfit-popup-content p {
    font-family: "Heebo-Regular", sans-serif;
    color: #124364;
    margin-top: 10px;
    line-height: 1.41;
    font-size: 12px;
} */

.mapfit-popUpContent {
    /* border-bottom: 1px solid #EDF3F7; */
    padding: 11px 18px;
}

.mapfit-popUpContent .mapfit-popup-header {
    margin-top: 0px;
    font-size: 13px;
    font-family: "Heebo-Medium", sans-serif;
    margin-bottom: 10px;
    -webkit-margin-before: 0em;
    font-weight: 500;
	line-height: 18px;
	letter-spacing: 0.2px;
	text-align: left;
    color: #3a3e43;
    -webkit-font-smoothing: antialiased;
}

.mapfit-popUpContent .mapfit-popup-description {
    -webkit-font-smoothing: antialiased;
}

.mapfit-popup-description {
	font-family: "Heebo-Regular", sans-serif;
	font-size: 11px;
	line-height: 16px;
	text-align: left;
    color: #535658;
    margin-bottom: 0px;
}

.mapfit-popup-tip-container {
	width: 40px;
	height: 28px;
	position: absolute;
	left: 50%;
	margin-left: -20px;
	overflow: hidden;
    pointer-events: none;
    bottom: -20px;
    display: none;
}
.mapfit-popup-tip {
	width: 30px;
	height: 30px;
	padding: 1px;
	margin: -10px auto 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
.mapfit-popup-content-wrapper,.mapfit-popup-tip {
	background: white;
	color: #333;
}
.mapfit-container a.mapfit-popup-close-button {
	position: absolute;
	top: 0;
	right: 0;
	padding: 4px 4px 0 0;
	border: none;
	text-align: center;
	width: 18px;
	height: 14px;
	font: 16px/14px Tahoma, Verdana, sans-serif;
	color: #c3c3c3;
	text-decoration: none;
	font-weight: bold;
	background: transparent;
}
.mapfit-popup-close-button {
    display: none;
}
.mapfit-container a.mapfit-popup-close-button:hover {
	color: #999
}
.mapfit-popup-scrolled {
	overflow: auto;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd
}
.mapfit-oldie .mapfit-popup-content-wrapper {
    zoom: 1;
    box-shadow: none;
}
.mapfit-oldie .mapfit-popup-tip {
	width: 24px;
	margin: 0 auto;
	-ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)
}
.mapfit-oldie .mapfit-popup-tip-container {
	margin-top: -1px;
}

.mapfit-mobileCard {
    width: 135px;
}

.mapfit-popupMobileContainer {
    width: 176px;
}

.mapfit-popupMobileContainer .mapfit-popup-content-wrapper {
    width: 176px;
}

.mapfit-popupMobileContainer .mapfit-popup-content-wrapper .mapfit-popup-content {
    width: 176px;
}

.mapfit-deskTopCard {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction:row;
    width: 275px;
    justify-content: space-around;
    -webkit-justify-content: space-around;
}

.mapfit-popupDesktopContainer {
    width: 312px;
}

.mapfit-popupDesktopContainer .mapfit-popup-content-wrapper {
    width: 312px;
}

.mapfit-popupDesktopContainer .mapfit-popup-content-wrapper .mapfit-popup-content {
    width: 312px;
}

.mapfit-deskTopCard .mapfit-popUpContent {
    border-bottom: none;
    border-right: 1px solid #EDF3F7;
    padding-right: 8%;
}

.mapfit-oldie .mapfit-control-zoom,.mapfit-oldie .mapfit-control-layers,.mapfit-oldie .mapfit-popup-content-wrapper,.mapfit-oldie .mapfit-popup-tip {
	border: 1px solid #999
}
.mapfit-div-icon {
	background: #fff;
	border: 1px solid #666;
}
.mapfit-tooltip {
	position: absolute;
	padding: 6px;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 3px;
	color: #222;
	white-space: nowrap;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	box-shadow: 0 1px 3px rgba(0,0,0,0.4);
}
.mapfit-tooltip.mapfit-clickable {
	cursor: pointer;
	pointer-events: auto;
}
.mapfit-tooltip-top:before,.mapfit-tooltip-bottom:before,.mapfit-tooltip-left:before,.mapfit-tooltip-right:before {
	position: absolute;
	pointer-events: none;
	border: 6px solid transparent;
	background: transparent;
	content: "";
}
.mapfit-tooltip-bottom {
	margin-top: 6px;
}
.mapfit-tooltip-top {
	margin-top: -6px;
}
.mapfit-tooltip-bottom:before,.mapfit-tooltip-top:before {
	left: 50%;
	margin-left: -6px;
}
.mapfit-tooltip-top:before {
	bottom: 0;
	margin-bottom: -12px;
	border-top-color: #fff;
}
.mapfit-tooltip-bottom:before {
	top: 0;
	margin-top: -12px;
	margin-left: -6px;
	border-bottom-color: #fff;
}
.mapfit-tooltip-left {
	margin-left: -6px;
}
.mapfit-tooltip-right {
	margin-left: 6px;
}
.mapfit-tooltip-left:before,.mapfit-tooltip-right:before {
	top: 50%;
	margin-top: -6px;
}
.mapfit-tooltip-left:before {
	right: 0;
	margin-right: -12px;
	border-left-color: #fff;
}
.mapfit-tooltip-right:before {
	left: 0;
	margin-left: -12px;
	border-right-color: #fff;
}
.mz-bug-container,.mz-bug-container * {
	box-sizing: content-box;
}
.mz-bug-container {
	position: absolute;
	top: 0;
	left: 50%;
	margin-left: -144px;
	width: 288px;
	height: 48px;
	background-color: rgba(255,255,255,0.9);
	box-shadow: 0 0 10px 1px rgba(0,0,0,0.2);
	overflow: hidden;
	z-index: 900;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

@media screen and (max-width: 670) {
    .mapfit-turns {
        background-color: black;
    }
    .mapfit-turns.mapfit-active {
        max-width: 100%;
    }
    /* .mapfit-direction-detail-top .mapfit-directionsArrow .mapfit-upDown {
        visibility: visible;
    }
    .mapfit-direction-detail-top.mapfit-mobileActive .mapfit-upDown {
        visibility: visible;
    } */
}
.mapfit-directionsArrow { /* has a container of position relative */
    visibility: hidden;
    position: absolute;
    right: 20px;
    top: 10px;
}
.mapfit-directionsArrow.mapfit-mobile { 
    /* this class can only be applied on mobile and directions are open - resize and page load */
    /* visibility: visible; */
}
.mapfit-directionsArrow.mapfit-mobileActive:hover {
    cursor: pointer;
}

.mapfit-bottom .mapfit-logo {
    margin-bottom: 3px;
}

.mapfit-logo.mapfit-logoMobileNoDirections .mapfit-watermarkImg {
    width: 25px;
    height: 25px;
    bottom: 0px;
}

.mapfit-logo.mapfit-logoMobileDirections .mapfit-watermarkImg {
    width: 30px;
    height: 30px;
    bottom: 70px;
}

.mapfit-logoDesktopNoDirections .mapfit-watermarkImg {
    width: 87px;
    height: 25px;
    bottom: 0px;
}

.mapfit-watermarkImg.mapfit-mobileActive {
    width: 30px;
    height: 30px;
}

.mapfit-dirBottomRow.mapfit-mobileActive {
    position: relative;
    width: 100%;
    pointer-events: all;
}

.mapfit-dirBottomRow.mapfit-mobileActive  .mapfit-direction-detail-icon .mapfit-walkingIcon,.mapfit-dirBottomRow.mapfit-mobileActive  .mapfit-direction-detail-icon .mapfit-bikingIcon, .mapfit-dirBottomRow.mapfit-mobileActive  .mapfit-direction-detail-icon .mapfit-drivingIcon {
    opacity: 0.25;
}

/* .mapfit-dirBottomRow.mapfit-mobileActive .mapfit-upDown {
    visibility: visible;
} */

.mapfit-dirBottomRow.mapfit-mobileActive  .mapfit-direction-detail-icon .mapfit-walkingIcon {
    width: 25px;
    height: 43px;
}

.mapfit-dirBottomRow.mapfit-mobileActive  .mapfit-direction-detail-icon .mapfit-bikingIcon {
    width: 32px;
    height: 32px;
}

.mapfit-dirBottomRow.mapfit-mobileActive  .mapfit-direction-detail-icon .mapfit-drivingIcon {
    width: 36px;
    height: 32px;
}

.mapfit-greenCircle, .mapfit-redCircle {
    border-radius: 50%;
}

.mapfit-greenCircle {
    box-shadow: 0 3px 10px 0 rgba(31, 30, 37, 0.15);
}

.mapfit-redCircle {
    box-shadow: 0 3px 10px 0 rgba(31, 30, 37, 0.15);
}

.mapfit-upDown {
    -ms-transform: rotate(0deg); /* IE 9 */
    -webkit-transform: rotate(0deg); /* Safari 3-8 */
    transform: rotate(0deg);
}

.mapfit-upDown.mapfit-active {
    -ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Safari 3-8 */
    transform: rotate(180deg);
}

.mapfit-top.mapfit-mobileActive {
    width: 100%;
}

.mapfit-nav {
    position: relative;
}

.mapfit-nav.mapfit-mobileActive {
    width: 100%;
    margin-left: 0px;
}

.mapfit-nav.mapfit-mobileActive .mapfit-menu {
    margin: 0 auto;
}

@media only screen and (max-width: 400px) {
    .mz-bug-container {
	    width: 192px;
	    margin-left: -96px
    }
}

.mz-bug-container a {
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    -webkit-transition: box-shadow 160ms ease-in-out, background-color 160ms linear;
    -moz-transition: box-shadow 160ms ease-in-out, background-color 160ms linear;
    transition: box-shadow 160ms ease-in-out, background-color 160ms linear;
}
.mz-bug-container a:focus {
    outline: dotted 1px;
    outline-offset: -1px;
}
.mz-bug-mapzen-link {
    display: block;
    left: 0;
    width: 144px;
}
.mz-bug-mapzen-link:hover,.mz-bug-mapzen-link:active {
    background: white;
    box-shadow: inset 0 -4px 0 #635378;
}
.mz-bug-mapzen-logo {
    background-image: url("images/logo.png");
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100%;
    height: 100%;
    margin-top: -1px;
}
@media only screen and (max-width: 400px) {
    .mz-bug-mapzen-link {
        width: 48px;
    }
    .mz-bug-mapzen-logo {
        background-size: 144px;
        margin-left: -3px;
    }
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .mz-bug-mapzen-logo {
        background-image: url("images/logo@2x.png");
    }
}
.mz-bug-twitter-link {
    width: 48px;
    height: 48px;
    left: 144px;
    border-left: 1px solid rgba(0,0,0,0.1);
}
.mz-bug-twitter-link:hover,.mz-bug-twitter-link:active {
    background: white;
    box-shadow: inset 0 -4px 0 #2aa9e0;
}
.mz-bug-twitter-logo {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2228%22%20height%3D%2228%22%20viewBox%3D%220%200%2028%2028%22%3E%3Cpath%20d%3D%22M24.253%208.756C24.69%2017.08%2018.297%2024.182%209.97%2024.62c-3.122.162-6.22-.646-8.86-2.32%202.702.18%205.375-.648%207.507-2.32-2.072-.248-3.818-1.662-4.49-3.64.802.13%201.62.077%202.4-.154-2.482-.466-4.312-2.586-4.412-5.11.688.276%201.426.408%202.168.387-2.135-1.65-2.73-4.62-1.394-6.965C5.574%207.816%209.54%209.84%2013.802%2010.07c-.842-2.738.694-5.64%203.434-6.48%202.018-.624%204.212.043%205.546%201.682%201.186-.213%202.318-.662%203.33-1.317-.386%201.256-1.248%202.312-2.4%202.942%201.048-.106%202.07-.394%203.02-.85-.458%201.182-1.343%202.15-2.48%202.71z%22%20fill%3D%22%232aa9e0%22%2F%3E%3C%2Fsvg%3E);
    background-position: center center;
    background-size: 50%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin-top: -1px;
}
.mz-bug-facebook-link {
    width: 48px;
    height: 48px;
    left: 192px;
    border-left: 1px solid rgba(0,0,0,0.1);
}
.mz-bug-facebook-link:hover,.mz-bug-facebook-link:active {
    background: white;
    box-shadow: inset 0 -4px 0 #3b579d;
}
.mz-bug-facebook-logo {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2228%22%20height%3D%2228%22%20viewBox%3D%220%200%2028%2028%22%3E%3Cpath%20d%3D%22M27.825%204.783c0-2.427-2.182-4.608-4.608-4.608H4.783C2.36.175.175%202.357.175%204.783v18.434c0%202.427%202.18%204.608%204.608%204.608H14V17.38h-3.38v-4.61H14v-1.794c0-3.09%202.335-5.885%205.192-5.885h3.718V9.7h-3.726c-.408%200-.884.49-.884%201.235v1.836h4.61v4.61H18.3v10.445h4.916c2.422%200%204.608-2.188%204.608-4.608V4.783z%22%20fill%3D%22%233b579d%22%2F%3E%3C%2Fsvg%3E);
    background-position: center center;
    background-size: 40%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin-top: -1px;
}
.mz-bug-github-link {
    width: 48px;
    height: 48px;
    left: 240px;
    border-left: 1px solid rgba(0,0,0,0.1);
}
.mz-bug-github-link:hover,.mz-bug-github-link:active {
    background: white;
    box-shadow: inset 0 -4px 0 #444;
}
.mz-bug-github-logo {
    background-image: url(data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%221024%22%20width%3D%221024%22%20data-ember-extension%3D%221%22%3E%3Cpath%20d%3D%22M512%200C229.25%200%200%20229.25%200%20512c0%20226.25%20146.688%20418.125%20350.156%20485.812%2025.594%204.688%2034.938-11.125%2034.938-24.625%200-12.188-.47-52.562-.72-95.312C242%20908.812%20211.907%20817.5%20211.907%20817.5c-23.312-59.125-56.844-74.875-56.844-74.875-46.53-31.75%203.53-31.125%203.53-31.125%2051.406%203.562%2078.47%2052.75%2078.47%2052.75%2045.688%2078.25%20119.875%2055.625%20149%2042.5%204.654-33%2017.904-55.625%2032.5-68.375-113.656-12.937-233.218-56.875-233.218-253.063%200-55.938%2019.97-101.562%2052.656-137.406-5.22-13-22.844-65.094%205.062-135.562%200%200%2042.938-13.75%20140.812%2052.5%2040.812-11.406%2084.594-17.03%20128.125-17.22%2043.5.19%2087.31%205.876%20128.187%2017.282%2097.688-66.312%20140.688-52.5%20140.688-52.5%2028%2070.53%2010.375%20122.562%205.125%20135.5%2032.812%2035.844%2052.625%2081.47%2052.625%20137.406%200%20196.688-119.75%20240-233.812%20252.688%2018.438%2015.875%2034.75%2047%2034.75%2094.75%200%2068.438-.688%20123.625-.688%20140.5%200%2013.625%209.312%2029.562%2035.25%2024.562C877.438%20930%201024%20738.125%201024%20512%201024%20229.25%20794.75%200%20512%200z%22%20fill%3D%22%23272727%22%2F%3E%3C%2Fsvg%3E);
    background-position: center center;
    background-size: 45%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    margin-top: -1px;
    margin-left: -1px;
}
@media only screen and (max-width: 400px) {
    .mz-bug-twitter-link {
        left: 48px;
    }
    .mz-bug-facebook-link {
        left: 96px;
    }
    .mz-bug-github-link {
        left: 144px;
    }
}
.mapfit-pelias-input {
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    border: none;
    border-radius: 4px;
    padding-left: 26px;
    text-indent: 6px;
    font-size: 14px;
    background-color: transparent;
    cursor: pointer;
}
.mapfit-pelias-control {
    width: 26px;
    height: 26px;
    background-color: white;
    -webkit-transition: width .1s, height .1s;
    -moz-transition: width .1s, height .1s;
    -ms-transition: width .1s, height .1s;
    -o-transition: width .1s, height .1s;
    transition: width .1s, height .1s;
    z-index: 810;
    box-sizing: content-box;
}
.mapfit-oldie .mapfit-pelias-control {
    border: 1px solid #999
}
.mapfit-touch .mapfit-pelias-control {
    width: 30px;
    height: 30px;
    line-height: 30px;
}
.mapfit-touch .mapfit-pelias-control.mapfit-pelias-expanded {
    width: 280px;
    height: 44px;
    line-height: 32px;
}
.mapfit-touch .mapfit-pelias-input {
    background-size: 30px;
}
.mapfit-pelias-expanded {
    width: 280px;
    height: 44px;
}
.mapfit-pelias-expanded .mapfit-pelias-input {
    padding-right: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    line-height: 32px;
}
span.mapfit-pelias-layer-icon-container {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    vertical-align: text-bottom;
}
.mapfit-pelias-results span.mapfit-pelias-layer-icon-container {
    margin-right: 9px;
}
/* img.mapfit-pelias-layer-icon {
    width: 16px;
} */
.mapfit-pelias-layer-icon {
    vertical-align: top;
}
.mapfit-pelias-layer-icon-point,.mapfit-pelias-layer-icon-polygon {
    width: 100%;
    height: 100%;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}
.mapfit-pelias-layer-icon-point {
    background-image: url("images/point_icon.png");
}
.mapfit-pelias-layer-icon-polygon {
    background-image: url("images/polygon_icon.png");
}
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .mapfit-pelias-layer-icon-point {
        background-image: url("images/point_icon@2x.png");
    }
    .mapfit-pelias-layer-icon-polygon {
        background-image: url("images/polygon_icon@2x.png");
    }
}
.mapfit-pelias-close {
    display: none;
    position: absolute;
    right: 0;
    width: 26px;
    height: 100%;
    padding-right: 2px;
    text-align: center;
    vertical-align: middle;
    font: normal 18px/26px 'Lucida Console', Monaco, monospace;
    background-color: transparent;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.mapfit-pelias-expanded .mapfit-pelias-close {
    display: table-cell;
    background-color: inherit;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.mapfit-pelias-expanded .mapfit-pelias-close.mapfit-pelias-hidden {
    display: none;
}
.mapfit-pelias-close:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.mapfit-touch .mapfit-pelias-input.mapfit-bar {
    border-radius: 4px;
    border: 0 none;
}
.mapfit-touch .mapfit-pelias-results.mapfit-bar {
    border-radius: 2px;
    border: 0 none;
}
.mapfit-pelias-search-icon {
    position: absolute;
    height: 100%;
    background-image: url("images/search.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 16px;
    z-index: 10;
    cursor: pointer;
}
.mapfit-bar a.mapfit-pelias-search-icon {
    border-radius: 4px;
    border-bottom: 0;
    height: 100%;
}
.mapfit-bar a.mapfit-pelias-search-icon:not(:hover) {
    background-color: transparent;
}
.mapfit-pelias-expanded a.mapfit-pelias-search-icon {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.mapfit-pelias-search-icon.mapfit-pelias-loading {
    background-image: url("images/loading.gif");
}
@media only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
    .mapfit-pelias-search-icon {
        background-image: url("images/search@2x.png");
    }
    .mapfit-pelias-search-icon.mapfit-pelias-loading {
        background-image: url("images/loading@2x.gif");
    }
}
.mapfit-pelias-input:focus {
    outline: none;
    cursor: text;
}
.mapfit-pelias-input::-ms-clear {
    display: none;
}
.mapfit-pelias-results {
    width: 100%;
    position: absolute;
    left: 0;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
}
.mapfit-touch .mapfit-pelias-results {
    box-shadow: 0 0 0 2px rgba(0,0,0,0.2);
}
.mapfit-oldie .mapfit-pelias-results {
    border: 1px solid #999;
    left: -1px;
}
.mapfit-top .mapfit-pelias-results {
    top: 50px;
}
.mapfit-bottom .mapfit-pelias-results {
    bottom: 50px;
}
.mapfit-pelias-list {
    list-style: none;
    margin: 0;
    padding: 0;
}
.mapfit-pelias-results .mapfit-pelias-result {
    font-size: 13px;
    padding: 7px;
    background-color: white;
    border-top: 1px solid #f1f1f1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    cursor: pointer;
}
.mapfit-pelias-results .mapfit-pelias-result:first-child {
    border: none;
}
.mapfit-pelias-results .mapfit-pelias-result:hover {
    background-color: #d5f1f3;
    border-color: #d5f1f3;
}
.mapfit-pelias-results .mapfit-pelias-result.mapfit-pelias-selected,.mapfit-pelias-results .mapfit-pelias-result.mapfit-pelias-selected:hover {
    background-color: #b2e3e7;
    border-color: #b2e3e7
}
.mapfit-pelias-message {
    font-size: 13px;
    padding: 7px;
    background-color: white;
    overflow-x: auto;
}
.mapfit-right .mapfit-pelias-results {
    left: auto;
    right: 0;
}
.mapfit-right .mapfit-pelias-input {
    left: auto;
    right: 0;
}
.mz-geolocator-icon {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: 70%;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2215.991%22%20viewBox%3D%220%200%2016%2015.991%22%3E%3Cpath%20fill%3D%22%23454545%22%20d%3D%22M5.962%2010.098l2.68%205.397%206.857-15-15%207.197%205.462%202.406zm.16-.583L1.934%207.672l11.498-5.52L6.12%209.514z%22%2F%3E%3C%2Fsvg%3E);
}
.mapfit-control-locate:hover .mz-geolocator-icon:not(.mz-geolocator-active) {
    background-image: url(data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2216%22%20height%3D%2215.991%22%20viewBox%3D%220%200%2016%2015.991%22%3E%3Cpath%20fill%3D%22%23D4645C%22%20d%3D%22M5.962%2010.098l2.682%205.397%206.856-15L.5%207.69%205.962%2010.1zm.162-.584l-4.19-1.842L13.437%202.15%206.124%209.514z%22%2F%3E%3C%2Fsvg%3E);
}

.mapfit-inputContainer {
    border-bottom: 1px solid  #e2e2e2;
}

.mapfit-inputContainer .mapfit-start-address:-webkit-autofill,
.mapfit-inputContainer .mapfit-start-address:-webkit-autofill:hover, 
.mapfit-inputContainer .mapfit-start-address:-webkit-autofill:focus
.mapfit-inputContainer .mapfit-start-address:-webkit-autofill, 
.mapfit-inputContainer .mapfit-end-address:-webkit-autofill,
.mapfit-inputContainer .mapfit-end-address:-webkit-autofill:hover
.mapfit-inputContainer .mapfit-end-address:-webkit-autofill:focus {
    background-color: #FFF;
    -webkit-box-shadow: 0 0 0 30px white inset;
}

.mapfit-start-address:-webkit-autofill {
    background-color: #fff;
}

/********************* Search Directions *****************/

/* direction styles that will also change for mobile */
.mapfit-dirTopRow {
    position: relative;
    height: auto;
    background: linear-gradient(to right, #2846cc, #2498e7);
}

.mapfit-car {
    background-color: #fff;
    color: #535658;
    margin-right: 10px;
}

/******************** Search Info Pane ***********************/

.mapfit-address-form {
	padding: 20px 0;
	font: bold 15px 'trebuchet MS', 'lucida sans', 'Tahoma';
	border-bottom: 1px solid black;
	background-color: #F5FBEF;
}

.mapfit-address-form .mapfit-state-input {
	width: 50px;
	margin-right: 53px;
}

.mapfit-address-form .mapfit-zip-input {
	width: 60px;
}

/*********************** Option Buttons **************************/

.mapfit-dropdown .mapfit-pin-toggle {
	width: 154px;
	font-size: 12px;
	float: right;
}

/********************* Address Header ******************************/

.mapfit-address-container {
	display: table;
	width: 100%;
	overflow: hidden;
}

.mapfit-address-input{
     font-size: 15px;
}

.mapfit-city-input{
    font-size: 15px;
}
 
.mapfit-zip-input{
    font-size: 15px;
}

.mapfit-address {
	padding-left: 35px;
}

.mapfit-location-address {
	display: table-cell;
	vertical-align: middle;
	height: 40px;
	width: 100%;
	padding: 10px;
	border-bottom: 1px solid black;
	font: normal 15px 'trebuchet MS', 'lucida sans', 'Tahoma';
}

.mapfit-address-container .mapfit-address {
	text-align: center;
}

.mapfit-location-address:hover {
	background-color: rgba(0, 255, 0, 0.2);
	cursor: pointer;
}

/******************** direction menu ***********************/

.mapfit-menu {
    position: relative;
    width: 96%;
    min-width: 346px;
    font-size: 1em;
    font-weight: 700;
    overflow: hidden;
    transition: .25s;
    z-index: 10;
    border-radius: 8px;
    box-shadow: 0 5px 20px 0 rgba(18, 67, 100, 0.2);;
    box-sizing: content-box;
    font-family: Heebo, sans-serif;
    background-color: #fff;
}

.mapfit-turns.mapfit-mobile { /* has container of relative */ 
    width: 94%;
    background: none;
    box-shadow: none;
    position: absolute;
    pointer-events: none;
}

.mapfit-dirBottomRow {
    background: #FFF;
    border-radius: 6px;
    box-shadow: 0 7px 20px 0 rgba(18, 67, 100, 0.4);
    min-width: 346px;
}

.mapfit-turns.mapfit-mobile .mapfit-dirTopRow, .mapfit-turns.mapfit-mobile .mapfit-dirBottomRow { /* it is inside mapfit-turns which is inside mapfit-nav which has the position relative */
    position: absolute;
    width: 96%;
    left: 2%;
    pointer-events: all;
}

.mapfit-turns.mapfit-mobile .mapfit-dirTopRow {
    top: 10px;
    border-radius: 6px;
    box-shadow: 0 5px 20px 0 rgba(18, 67, 100, 0.2);
}

.mapfit-turns.mapfit-mobile .mapfit-dirBottomRow {
    background-color: #FFF;
}

.mapfit-menu-show {
    margin-left: 0;
}

.mapfit-menu-hide {
    margin-left: -387px;
}

.mapfit-close { /* inside of a relative container */
    position: absolute;
    height: 11px;
	width: 11px;
    right: 24px;
    top: 22px;
	cursor: pointer;
    border: none;
    outline: none;
    background:url('../images/buttons/close_btn.svg') center no-repeat; background-size: contain;
}

.mapfit-close.mapfit-white { /* inside of a relative container */ 
    position: absolute;
    height: 11px;
	width: 11px;
    left: 15px;
    top: 18px;
	cursor: pointer;
	margin: 1px;
    border: none;
    outline: none;
    background:url( '../icons/clear-white.svg') center no-repeat; background-size: 100% 100%;
}

.mapfit-menu-top {
    position: relative;
    width: 100%;
    height: 57px;
    border-bottom: 1px solid #EDF3F7;
    background-image: linear-gradient(261deg, #fafafb, #fafafa);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapfit-toLabel {
    margin-top: 8px;
}

.mapfit-toLabel, .mapfit-fromLabel {
    margin-bottom: 0px;
    font-family: Heebo;
    font-size: 12px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: 1px;
    text-align: left;
    color: #9098a2;
}

.mapfit-directions-label {
    height: 27px;
    top: 11px;
    font-size: 15px;
    display: flex;
    font-weight: 200;
    justify-content: space-around;
    align-items: center;
}

.mapfit-directions-form {
	box-sizing: content-box;
	width: 100%;
	top: 40px;
    z-index: 5;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction:row;
    align-items: center;
    background-color: #fff;
}

.mapfit-startEndImg {
    align-self: flex-start;
    margin: 0px 24px 0px 24px;
}

.mapfit-startEndImg .mapfit-start-end-img {
    height: 86px;
    margin-top: 12px;
}

.mapfit-direction-form.mapfit-active {
    visibility: visible;
}

.mapfit-errorMsg {
    visibility: hidden;
    font-size: 12px;
    color: #124364;
    height: 0px;
    margin: 0px;
}

.mapfit-fromContainer {
    position: relative;
    height: 136px;
}

.mapfit-fullForm {
    width: 73%;
}

.mapfit-startContainer, .mapfit-fromContainer {
    height: auto;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction:column;
    justify-content: center;
    -webkit-justify-content: center;
    margin-top: 5px;
}

.mapfit-start-circle {
	box-sizing: content-box;
	border-radius: 50%;
	width: 5px;
	height: 5px; 
    background-color: #124364;
    border-color: #fff;
    border: 4.5px solid #fff;
    padding: 1px;
    box-shadow: 0px 0px 5px #888888;
}

.mapfit-entrance-label {
    height: 50px;
	width: 100px;
    left: 0%;
    top: 15px;
	background: #1F363D;
	color: #fff;
	text-transform: uppercase;
	margin: 1px;
    font-size: 15px;
    margin-top: 15px;
}

.mapfit-directions-form .mapfit-end-address, .mapfit-directions-form .mapfit-start-address {
    position: relative;
    left: 0px;
	width: 92%;
	height: 25px;
    font-family: Heebo, sans-serif;
    font-size: 16px;
	font-weight: normal;
    border-bottom-color: #bed7e7;
    border: 0;
    outline: 0;
    background: transparent;  
    padding-bottom: 5px;
    color: #39627c;
}

.mapfit-directions-form .mapfit-end-address {
    width: 90%;
    height: auto;
    overflow: hidden;
}

.mapfit-endAddressHdr {
    font-size: 16px;
	font-weight: 500;
}

.mapfit-start-address {
    box-sizing: content-box;
    border-radius: 0px;
    box-shadow: initial;
    -webkit-text-fill-color: #3A3E43;
    opacity: 1;
}

.mapfit-start-address::placeholder {
    color: rgba(19, 40, 54, 0.2);
}

.mapfit-end-address {
    line-height: 1.25em;
    box-sizing: content-box;
    resize: none;
}

.mapfit-directions-form .mapfit-start-address::-webkit-contacts-auto-fill-button { /* in position relative container */
  visibility: hidden;
  pointer-events: none;
  position: absolute;
  right: 0;
}

/******************** travel type select ***********************/

.mapfit-segmented-control {
	width: 100%;
	left: 71px;
	top: 8px;
	z-index: 5;
    display: table;
    order: 0; 
    background-color: #f7fbff;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

/* .mapfit-segmented-control .row {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction:row;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #edf3f7;
} */

.mapfit-walk, .mapfit-bike, .mapfit-car {
	width: 72px;
    height: 34px;
    z-index: 5;
    margin-right: 10px;
    background-color: #FFF;
	color: #535658;
    border: none;
    padding: 0 10px 0px 10px;
    border-radius: 6px;
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction:row;
    justify-content: space-around;
    -webkit-justify-content: space-around;
    box-shadow: 0 4px 8px 0 rgba(19, 40, 54, 0.05), inset 0 -2px 0 0 rgba(63, 82, 109, 0.15);
}

.mapfit-walk:focus, .mapfit-bike:focus, .mapfit-car:focus {
    outline: none;
}

.mapfit-startMarkerInput {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    margin-bottom: 4px;
}

.mapfit-endTopRow {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction:row;
    align-items: center;
}

.mapfit-endTopRow .mapfit-endAddressMarker {
    opacity: .7;
}

.mapfit-endTopRow {
    font-size: 16px;
	font-weight: 500;
	text-align: left;
    color: #124364;
    margin: 0px;
}

.mapfit-get-directions { /* in position relative container */
	position: absolute;
    color: white;
	width: 35px;
    height: 18px;
	right: 12px;
	z-index: 6;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    top: 104px;
    background: transparent;
}

.mapfit-get-directions:hover {
    cursor: pointer;
}

.mapfit-get-directions:focus {
    outline: none;
}

.mapfit-startEnd {
    padding-left: 50px;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}

/***************** Demo Icon *********************/
.mapfit-demo-icon {
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
}

/************* New Diretions UI **************************/
.mapfit-entrance {
	width: 40px;
    height: 40px;
	z-index: 5;
    background: #fff;
	color: #1F363D;
    border: none;
    padding: 0;
    border-radius: 5px;
    font-size: 25px;
}

/******************** Card List *********************/
.mapfit-card{
    width: 100%;
    height: 75px;
    font-size: 12px;
    border-top: 1px solid #bed7e7;
    text-align: left;
    vertical-align: middle;
    display: table-cell;
}

.mapfit-card-img {
    top: 10px;
    left: 5px;
    height: 50px;
    width: 50px;
    border-radius: 5px;
    margin: 10px;
}

.mapfit-card-text {
    vertical-align:top; 
    display:inline-block; 
    line-height:1;
    text-align: left;
    margin-bottom: 8px;
}

.mapfit-btmLine {
    height: 0px;
    border-top-color: #edf3f7;
    border-bottom: 0px;
}

.mapfit-card-title {
    position: relative;
    margin: 4px;
    width: 95%;
    font-size: 12px;
    font-weight: bold;
    display:inline-block;
    color: #112f45;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.mapfit-card-subTitle {
    width: 95%;
    position: relative;
    margin: 4px;
    font-size: 12px;
    color: #4a7591;
    display:inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.mapfit-card-yelp {
    position: relative;
    font-size: 12px;
    color: #9ca9b2;
    display:inline-block; 
}

.mapfit-rating-img {
    position: relative;
    height: 12px;
    width: 70.28px;
}

.mapfit-yelp-logo {
    position: relative;
    height: 20px;
}

.mapfit-whiteBkg { /* in position relative container */
    background-color: rgba(255, 255, 255, 0);
    height: 63px;
    width: 100%;
    position: absolute;
    -webkit-filter: blur(10px);
    filter: blur(10px);
}

.mapfit-logoInfo { /* in position relative container */
    position: absolute;
    margin-top: 12px;
    background-color: rgba(255, 255, 255, 0);
    width: 163px;
}

.mapfit-logo.mapfit-night .mapfit-logoInfo .mapfit-logo-info-link {
    color: #FFF;
    text-shadow: none;
}

.mapfit-build-link {
    color: #124364;
}

.mapfit-logoInfo .mapfit-logo-info-link {
    color: #124364;
    text-decoration: underline;
    text-shadow: 0 0 10px rgb(255, 255, 255);
}

/******************** turn List *********************/
.mapfit-turns { /* in a container with position relative */
	box-sizing: content-box;
    background: #FFF;
    position: absolute;
    top: 310px;
    height: 125px;
    width: 100%;
    min-width: 280px;
    font-size: 1em;
    font-weight: 700;
    font-family: Heebo, sans-serif;
    overflow: hidden;
    transition: .25s;
    z-index: 10;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    box-shadow: 0 5px 20px 0 rgba(18, 67, 100, 0.2);
    visibility: hidden;
}

.mapfit-turns.mapfit-active {
    visibility: visible;
    z-index: 11;
    width: 96%;
    margin-left: 2%;
}

.mapfit-turns.mapfit-mobileActive {
    background: transparent;
    box-shadow: none;
    min-width: 346px;
    pointer-events: none;
    margin-left: 2%;
    width: 96%;
}

.mapfit-turn-back { /* in a container with position relative */
    display: none;
    position: absolute;
    background-color: transparent;
    top: 20px;
    left: 15px;
    z-index: 12;
    border: solid #FFF;
    border-width: 0 2px 2px 0;
    padding: 4px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

.mapfit-turn-back:hover {
    cursor: pointer;
}

.mapfit-turn-back:focus {
    outline: none;
}

.mapfit-startLabel, .mapfit-endLabel {
    font-family: "Heebo-Regular", sans-serif;
    font-style: normal;
    font-weight: 200;
}

.mapfit-endLabel {
    color: #FFF;
    font-size: 16px;
    margin-bottom: 0px;
}

.mapfit-startLabel {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.5);
    margin-top: 4px;
    line-height: 1.5em;
}

.mapfit-turn-detail-icon {
    color: #9caab2;
    background-color: transparent;
    left: 10px;
    top: 14px;
    width: 20px;
    height: 20px;
    order: 3;
    display: none;
}

.mapfit-turn-detail-transit {
    color: #39627c;
    background-color: transparent;
    left: 35px;
    top: 16px;
    width: 100px;
    height: 20px;
    font-size: 12px;
    font-weight: 400;
    order: 4;
    display: none;
}

.mapfit-turn-detail-dist {
    color: #7e9fb5;
    background-color: transparent;
    right: 10px;
    top: 45px;
    width: 100px;
    height: 20px;
    font-size: 10px;
    text-align: right;
    font-weight: 400;
    display: none;
}

.mapfit-turn-detail-time {
    color: #39627c;
    background-color: transparent;
    right: 10px;
    top: 16px;
    width: 100px;
    height: 20px;
    text-align: right;
    font-weight: 400;
    font-size: 12px;
}

.mapfit-tableContainer {
    overflow-y: scroll;
    top: 30px;
    position: relative;
    background-color: #FFF;
    height: 500px;
}

.mapfit-turn-list{
    position: relative;
    width: 100%;
    min-width: 280px;
    background-color: #fff;
    z-index: 4;
    list-style-type: none;
    display: table-cell;
    align-self: right;
    display: block; 
    border-top: 2px solid #ebf5fe;
}

.mapfit-turn-list tbody {
    display: block;
    width: 90%;
    min-width: 280px;
    padding-left: 24px;
}

.mapfit-turn-list tbody tr:first-child .mapfit-turn-table-cell {
    margin-bottom: 26px;
    width: 100%;
    border-bottom: 1px solid #edf3f7;
    display: block;
}

.mapfit-turn-list tbody tr:last-child {
    margin-top: 0px;
}

.mapfit-turn-list tbody tr:last-child .mapfit-turn-table-cell {
    margin-top: 2px;
}

.mapfit-tableContainer::-webkit-scrollbar {
    -webkit-appearance: none;
}

.mapfit-tableContainer::-webkit-scrollbar:vertical {
    width: 6px;
}

.mapfit-tableContainer::-webkit-scrollbar:horizontal {
    height: 6px;
}

.mapfit-tableContainer::-webkit-scrollbar-thumb {
    border-radius: 8px;
    border: 2px solid white; /* should match background, can't be transparent */
    background-color: rgba(18, 67, 100, 35);
}

.mapfit-turn-table-row {
    display: flex;
    display: -webkit-flex;
    width: 100%;
    min-width: 280px;
    height: auto;
}

.mapfit-turn-table-row .mapfit-turn-direction-img {
    margin-right: 20px;
}

.mapfit-turn-table-row:not(:nth-child(2)) {
    padding: 9px 0 0px 0;
}

.mapfit-turn-table-cell {
	box-sizing: content-box;
	position: relative;
	vertical-align: top;
}

.mapfit-turn-end-table-cell {
	box-sizing: content-box;
	position: relative;
	vertical-align: middle;
}

.mapfit-turn-table-body {
	box-sizing: content-box;
}

.mapfit-turn {
	box-sizing: content-box;
    width: 100%;
    font-size: 12px;
    text-align: right;
    vertical-align: middle;
    display: table-cell;
}

.mapfit-end-turn {
	box-sizing: content-box;
    width: 100%;
    font-size: 12px;
    text-align: center;
    display: table-cell;
}

.mapfit-end-turn-title {
    box-sizing: content-box;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    color: #124364;
    font-weight: 400;
    margin-bottom: 8px;
    font-family: "Heebo-Medium", sans-serif;
}

.mapfit-turn-text {
	box-sizing: content-box;
    width: 100px;
    margin: 5px;
    height: 10px;
    vertical-align: top; 
    display: inline-block; 
    line-height: 1;
}

.mapfit-turn-title {
    box-sizing: content-box;
    position: relative;
    padding-top: 2px;
    font-size: 12px;
    display: inline-block;
    color: #7e9fb5;
    width: 195px;
    font-weight: 300;
    line-height: 17px;
    font-family: "Heebo-Regular", sans-serif;
}

.mapfit-turn-title:first-child {
    color: #124364;
}

.mapfit-testingOne {
    border-bottom: 0px;
    border-right: 0px;
    border-left: 0px;
    border-top: 1px solid #edf3f7; 
}

.mapfit-turn-subTitle {
	box-sizing: content-box;
    width: 95%;
    position: relative;
    font-size: 10px;
    color: #4a7591;
    display:inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.mapfit-turn-circle {
	box-sizing: content-box;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #0685e3;
    border-color: #0685e3;
    padding: 1px;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 11px;
    z-index: 12;
}

.mapfit-turn-circle-dotted {
    box-sizing: content-box;
	border-radius: 50%;
	width: 12px;
	height: 12px; 
    background-color: #009eff;
    border-color: #009eff;
    padding: 1px;
    margin: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 11px;
    z-index: 12;
}

.mapfit-dragBar {
    width: 70px;
	height: 4px;
	border-radius: 100px;
    background-color: rgba(73, 79, 123, 0.1);
    position: relative;
    top: -61px;
    margin: 0 auto;
}

.mapfit-buttons {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction:row;
    justify-content: center;
    -webkit-justify-content: center;
    background-color: #f7fbff;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    width: 100%;
}

.mapfit-buttons button:hover {
    cursor: pointer;
}

.mapfit-red-dot-end, .mapfit-turn-circle-start-new .mapfit-turn-direction-img {
    position: relative;
    right: 9px;
    margin: 2px 15px 0px 14px;
}

.mapfit-row {
	display: table-row;	
	width: 100%;
	position: relative;
	box-sizing: content-box;
}

.mapfit-final-row {
	display: table-row;	
	width: 100%;
	position: relative;
	box-sizing: content-box;
	padding-bottom: 5px;
}

.mapfit-col-l {
	display: table-cell;	
	position: relative;
	box-sizing: content-box;
	padding-top: 2px;
	padding-left: 15px;
	width: 175px;
}
.mapfit-col-r {
	display: table-cell;	
	position: relative;
	box-sizing: content-box;
	padding-top: 8px;
	width: 75px;
	text-align: center;
    height: 25px;
}

.mapfit-final-col-r {
	position: relative;
	box-sizing: content-box;
	padding-bottom: 8px;
	width: 75px;
	text-align: center;
	vertical-align: middle;
}

.mapfit-title-label {
    position: relative;
	background: #fff;
	color: #131b20;
	margin: 1px;
    font-size: 15px;
    font-weight: 500;
}

.mapfit-subtitle-label {
	position: relative;
	background: #fff;
	color: #6a7f93;
	margin: 1px;
	font-size: 11px;
    white-space: nowrap; 
    overflow: scroll;
    width: 150px;
    font-weight: 400;
}

.mapfit-show-directions-new-window{
    width: 140px;
    height: 30px;
    object-fit: contain;
    border-radius: 3px;
    background-color: #4353ff;
}

.mapfit-show-directions {
    -webkit-font-smoothing: antialiased;
	position: relative;
    background: #0955ec;
    color: #FFF;
	z-index: 5;
    font-weight: bold;
    border: none;
    margin: 0px auto;
    top: 0px;
    margin-top: 0px;
    font-size: 13px;
    padding: 5% 5%;
    width: 90%;
    height:initial;
    min-width:68px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: 0.2px;
    text-align: center;
    display: block;
}
/* a.mapfit-show-directions {
    text-decoration: none;
    position: relative;
    background: #0955ec;
    color: white;
	z-index: 5;
    font-weight: bold;
    border: none;
    margin-right: 0px;
    top: 0px;
    margin-top: 0px;
    font-size: 13px;
    padding: 8px 10px;
    width:initial;
    height:initial;
    min-width:68px;
    border-radius: 4px;
} */

.mapfit-show-directions:hover {
    background: rgba(9, 85, 236, 0.90);
    cursor: pointer;
  }
.mapfit-show-directions:focus {
    outline: none;
}

.mapfit-goBtn {
    text-align: center;
    padding: 12px;
    padding: 13px 17px 18px 17px;
    background-image: linear-gradient(248deg, #fafafb, #fafafa);
    border-top: 1px solid #EDF3F7;
    /* display: inline-block; */
    display: block;
}

.mapfit-goBtn:focus {
    outline: none;
}

.mapfit-goBtnArrow {
    margin-left: 8px;
}

.mapfit-share-button {
	position: relative;
	height: 18px;
	width: 45px;
	background: #fff;
	color: #0955ec;
	font-size: 12px;
    margin-right: 17px;
}

.mapfit-stand-alone-fields {
	position: relative;
	width: 300px;
	left: 0px;
	top: 10px;
	z-index: 5;
  display: table;
}

/*************** New Integrated Share Card *************/
.mapfit-card-share {
    padding-left: 20px;
    padding-bottom: 35px;
    padding-top: 14px;
    height: 141px;
}

.mapfit-card-share-link {
  width: 150px;
}

.mapfit-card-link-area {
  width: 150px;
}

.mapfit-card-sms {
    position: relative;
    width: 150px;
    top: 5px;
}

.mapfit-card-phone-enter {
    position: relative;
    width: 150px;
    top: 5px;
}

.mapfit-card-copy {
  width: 80px;
  left: 45px;
  top: 10px;
  height: 17px;
  font-family: Heebo, sans-serif;
  font-size: 11px;
  font-weight: 500;
  color: #39627c;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 5px;
  background-color: #fff; }

.mapfit-card-phone-image {
  width: 10px;
  height: 13px;
  left: 40px;
  top: 15px; 
}

.mapfit-card-arrow-image {
  position: relative;
  width: 7.6px;
  height: 14px;
  left: 197px;
  top: -135px;
  -webkit-transform: rotate(-270deg);
  transform: rotate(-270deg); 
}

.mapfit-card-link-form {
  width: 145px;
  height: 30px;
  top: 20px;
  left: 35px;
  border-radius: 4px;
  background-color: #ebf5fe;
  border: solid 1px #ebf5fe; 
    margin-bottom: 5px;
}

.mapfit-card-phone-input {
  position: relative;
  width: 140px;
  height: 30px;
  padding-left: 5px;
  font-family: Heebo, sans-serif;
  font-size: 12px;
  color: #4a7591;
  background-color: #ebf5fe;
  border: none; 
}

.mapfit-card-link-input {
  position: relative;
  width: 140px;
  height: 30px;
  padding-left: 5px;
  font-family: Heebo, sans-serif;
  font-size: 12px;
  color: #4a7591;
  background-color: #ebf5fe;
  border: none; 
}

.mapfit-card-send-text {
  width: 80px;
  left: 45px;
  top: 10px;
  height: 17px;
  font-family: Heebo, sans-serif;
  font-size: 11px;
  font-weight: 500;
  color: #39627c;
  cursor: pointer;
  border: none;
  outline: none;
  margin: 5px;
  background-color: #fff; 
}

.mapfit-card-form-area {
  width: 145px;
  height: 30px;
  top: 20px;
  left: 35px;
  border-radius: 4px;
  background-color: #ebf5fe;
  border: solid 1px #ebf5fe; 
}

.mapfit-arrow-image {
  position: relative;
  width: 7.6px;
  height: 14px;
  left: 197px;
  top: -135px;
  -webkit-transform: rotate(-270deg);
  transform: rotate(-270deg); 
}

/**************** direction detail *******************/
 
.mapfit-direction-detail-top { /* container has position relative */
    position: absolute;
    width: 100%;
    height: 80px;
    background-color: #FFF;
    display: flex;
    display: -webkit-flex;
    align-items: center;
    top: 0px;
    border-radius: 6px;
}

.mapfit-directionDetails {
    display: flex;
    display: -webkit-flex;
    order: 2;
    align-items: center;
    padding-left: 24px;
    width: 100%;
    justify-content: flex-start;
    position: relative;
}

.mapfit-rightSideDirections {
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
    position: relative;
}


.mapfit-direction-deets{
    background-color: #fff;
    color: #0955ec;
    width: 100%;
    display:inline-block; 
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-family: Heebo, sans-serif;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction:row;
    border-radius: 20px;
}

.mapfit-direction-detail-icon {
    color: #9caab2;
    background-color: transparent;
    left: 8px;
    top: 10px;
    order: 5;
    margin: 0px 20px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mapfit-direction-detail-transit {
    color: #124364;
    background-color: transparent;
    left: 35px;
    top: 14px;
    width: 100px;
    height: 20px;
    font-size: 15px;
    font-weight: 400;
    display: inline-block;
    font-family: "Heebo-Regular", sans-serif;
    margin-bottom: 5px;
}

.mapfit-direction-detail-dist {
    background-color: transparent;
    top: 35px;
    height: 20px;
    font-size: 10px;
    display: inline-block;
    order: 1;
    margin-right: 20px;
    font-size: 13px;
	letter-spacing: 0.2px;
    color: #7e9fb5;
    font-weight: 200;
    font-family: "Heebo-Regular", sans-serif;
}

.mapfit-direction-detail-time {
    background-color: transparent;
    right: 15px;
    top: 14px;
    width: 100px;
    height: 20px;
    order: 2;
    font-family: "Heebo-Regular", sans-serif;
    font-size: 13px;
	letter-spacing: 0.2px;
    color: #7e9fb5;
    font-weight: 200;
    margin-right: 16px;
}

.mapfit-direction-turn-button {
    color: #0955ec;
    background-color: transparent;
    right: 8px;
    bottom: 6px;
    width: 100px;
    height: 20px;
    font-size: 10px;
    border: none;
    font-weight: bold;
    text-align: right;
    padding-bottom: 15px;
}