* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

html, body
{
	height: 100%;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#drawer {
	position: fixed;
	width: 300px;
	height: 100%;
	z-index: 1024;
	background-color: #fff;
	transition-property: transform;
	box-shadow: 5px 0px 6px rgba(0,0,0,.2);
	transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
	transition-duration: 1s;
}

.show-drawer {
	visibility: visible;
}

.hide-drawer {
	visibility: hidden;
	transform: translateX(-300px)
}

#drawer a {
	padding: 10px 0 10px 20px;
	text-decoration: none;
	color: black;
	display: block;
}

#drawer div :hover {
	background-color: #090;
	color: #fff
}

#mapid {
	background-color: black;
}

.pt-page-moveToLeft {
	-webkit-animation: moveToLeft .6s ease both;
	animation: moveToLeft .6s ease both;
}

@-webkit-keyframes moveToLeft {
	from { }
	to { -webkit-transform: translateX(-100%); }
}

@charset "utf-8";
/* CSS Document */

.tombol_1
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FFF;
	background-color: #F60;
	border: 1px solid #000;
	cursor: pointer;
}
.tombol_1:hover
{
	color: #FF0;
	background-color: #006;
}

.tombol_2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #ffffff;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#e30105 0%,
		#aa0b03);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#e30105),
		to(#aa0b03));
	-moz-border-radius: 16px;
	-webkit-border-radius: 16px;
	border-radius: 16px;
	border: 1px solid #7f1217;
	-moz-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	-webkit-box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	box-shadow:
		0px 1px 3px rgba(000,000,000,0.5),
		inset 0px 0px 1px rgba(255,255,255,1);
	text-shadow:
		0px -1px 0px rgba(000,000,000,0.7),
		0px 1px 0px rgba(255,255,255,0.3);
			cursor: pointer;
}

.tombol_2:hover {

	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#afd9fa),
		to(#588fad));
	text-shadow:
		0px 0px 0px rgba(000,000,000,0),
		0px 0px 0px rgba(255,255,255,0);
}

.text_1
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #F00;
}

.logo_nav_ina
{
	background-attachment: scroll;
	background-image: url(../../Image/Logo/InaFDRSLogo.png);
	background-size: 55% 55%;
	background-repeat: no-repeat;
	background-position: center center;
}

.logo_peta_adm
{
	background-image: url(../../Image/Logo/logopetaadmin.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.border_tbl_atas
{
    border: 2px solid black;
    background-color: #090;
    font-size: 18px;
    cursor: pointer;
    border-color: #090;
    color: white;
}

.border_tbl_atas:hover
{
    background-color: #008900;
}

.article {
	margin: 0px auto;
	max-width: 800px;
}

.article img {
	width: 100%;
}

@media only screen and (max-width: 800px) {
	.article {
		padding: 0px 10px 0px 10px;
	}
}